<form class="" action="/success" method="post">
  <div class="container">
    <h4>Add a New Performance</h4>

    <label for="performance-venue">Venue</label>
    <input type="text" name="performance-venue">

    <label for="performance-band">Band</label>
    <input type="text" name="performance-band">

    <label for="performance-date">Date</label>
    <input type="text" name="performance-date">

    <button type="submit" name="button">Add Band</button>
  </div>
</form>

<h3>Venues</h3>
<form class="" action="/venue_added" method="post">
  <div class="container">
    <h4>Add a New Venue</h4>
    <label for="venue-name">Venue Name</label>
    <input type="text" name="venue-name">
    <button type="submit" name="button">Add Venue</button>
  </div>
</form>
@if (Model["venues"].Count == 0)
  {
    <h3>There are no venues at this time.</h3>
  }
  else
  {
    foreach(var venue in Model["venues"])
    {
      <h3>@venue.GetName()</h3>
      <div class="container">
        <a href="/venue/@venue.GetId()">View All Performances at @venue.GetName()</a>
      </div>
    }
  }

<h3>Bands</h3>
<form class="" action="/band_added" method="post">
  <div class="container">
    <h4>Add a New Band</h4>
    <label for="band-name">Band Name</label>
    <input type="text" name="band-name">
    <button type="submit" name="button">Add Band</button>
  </div>
</form>
@if (Model["bands"].Count == 0)
  {
    <h3>There are no bands at this time.</h3>
  }
  else
  {
    foreach(var band in Model["bands"])
    {
      <h3>@band.GetName()</h3>
      <div class="container">
        <a href="/band/@band.GetId()">View All Performances at @band.GetName()</a>
      </div>
    }
  }
