@{
  Layout = "Views/Shared/_Layout.cshtml";
}

  <form class="" action="/venue/@Model["venue"].GetId()" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <label for="rename">Rename Venue</label>
    <input class="user-input" type="text" name="rename" value="@Model["venue"].GetName()">
    <button class="btn admin-btn" type="submit" name="button">Update Venue Name</button>
  </form>
  <form class="" action="/deleted/@Model["venue"].GetId()" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <label for="rename">Delete Venue</label>
    <input class="user-input" type="text" name="rename" value="@Model["venue"].GetName()">
    <button class="btn admin-btn" type="submit" name="button">Delete Venue</button>
  </form>

@if (Model["bands"].Count == 0)
{
  <h3 class="center">This venue does not have any tracked performances at this time.</h3>
}
else
{
  <h2>Bands Performing at @Model["venue"].GetName()</h2>
  foreach(var band in Model["bands"])
  {
    <h4>@band.GetName()</h4>
  }
}
<div class="content-name">
  <a class="link-name" href="/">Home</a>
</div>
